body
{
font-size: 4px;

}
@font-face{
    font-family:'digital-clock-font';
    src: url('digital-7/digital-7.ttf');
   }

.btn
{
    border-spacing: 0px;
    /* border: 2px solid black; */
    /* display: inline-block; */
    /* text-align: center; */
    width: 72px;
    height: 72px;
    font-size: 30px;
    background-color: lightgray;
}

.main
{
border: 5px solid black;
width: 300px;
height: 450px;
background-color: lightblue;
margin: 0 auto;
/* padding: 1px; */
text-align: center;
    
}

.result
{
width: 98%;
margin: 2px;
background-color: lightgrey;
border: 1px solid black;
height: 75px;
font-size: 40px;
}


.equals
{
width: 58.4%;
}

#clrbtn
{
position: relative;
margin-right: 74%;
}
